.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}
.content {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search-result {
        width: 361px;
        max-height: min((100vh - 96px) - 60px, 734px);
        font-size: 1.4rem;
    }
    .readmore:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
        border-radius: 0px 0px 8px 8px;
    }
    .readmore,
    .search-title {
        padding: 9px 16px;
    }
    .search-title {
        font-weight: 600;
        color: rgba(22, 24, 35, 0.5);
    }
}
.search {
    .btn-clear,
    .i-loading {
        position: absolute;
        color: rgba(22, 24, 35, 0.34);
        right: 52px;
        top: 50%;
        transform: translateY(-50%);
        margin: 0px 12px;
    }
    // .btn-clear {
    //     display: none;
    // }
    // .i-loading {
    //     display: none;
    // }
    padding: 0px 0px 0px 16px;
    background: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    font-size: 1.6rem;
    height: 46px;
    position: relative;
    span {
        border-left: 1px solid rgba(22, 24, 35, 0.12);
        height: 28px;
        top: 9px;
        position: absolute;
    }
    input {
        height: 100%;
        width: 292px;
        background: transparent;
        caret-color: rgba(254, 44, 85, 1);
    }
    input:not(:placeholder-shown) ~ .btn-search {
        color: rgba(22, 24, 35, 0.75);
    }
    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
    .btn-search {
        width: 52px;
        height: 100%;
        border-radius: 0px 92px 92px 0px;
        color: rgba(22, 24, 35, 0.34);
        &:hover {
            cursor: pointer;
            background: rgba(22, 24, 35, 0.03);
        }
    }
}

.login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    .btn-support {
        padding: 0px 4px;
        margin-left: 16px;
        cursor: pointer;
    }
}
