.item-menu {
    user-select: none;
    padding: 10px 16px;
    cursor: pointer;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
    button {
        background-color: transparent;
        padding: 0;
        margin: 0;
        min-height: 0;
    }
    svg {
        width: 24px;
    }
}
.item-link {
    display: contents;
    padding: 0;
    margin: 0;
}
.header {
    flex-shrink: 0;
    margin-top: -8px;
    height: 50px;
    display: flex;
    position: relative;
    align-items: center;
    user-select: none;
    .btn-back {
        background: none;
    }
    svg {
        width: 48px;
        &:hover {
            cursor: pointer;
        }
    }
    .header-title {
        position: absolute;
        transform: translateX(50%);
        right: 50%;
    }
}
.sparate {
    padding: 10px 16px;
    border-top: 1px solid rgba(22, 24, 35, 0.12);
}
.menu-body {
    overflow-y: auto;
}
