.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: var(--white);
}
.content {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    .btn-login {
        background: none;
        color: rgba(22, 24, 35, 0.897);
        font-size: 2.2rem;
        margin-left: 16px;
        padding: 3px 3px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-support {
        padding: 0px 4px;
        margin-left: 16px;
        cursor: pointer;
    }
    .user-avatar {
        margin-right: 12px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 24px;
    }
    img {
        cursor: pointer;
    }
    span {
        display: flex;
        align-items: center;
    }
}
